# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# ML artifacts
artifacts/*
!artifacts/intent_model.pkl
!artifacts/tfidf_vectorizer.pkl
!artifacts/manifest.json

# Temporary files
*.log
